@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-clr: #222222;
  --secondary-clr: #343434;
  --accent-clr: #e1d30e;
  --text-clr-1: #fff;
  --text-clr-2: #19e10e;
  --text-clr-3: #8f8f8f;
  --hover-clr: #2b2b2b;
  --error-clr: #d62121;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-style: normal;
}
